<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thundersharp.admin">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity android:name=".ui.edits.EditItemActivity" />
        <activity android:name=".ui.location.AddLocation" />
        <activity android:name=".ui.location.CoOrdinatesUpdater" />
        <activity android:name=".ui.location.UpdatePoints" />
        <activity android:name=".ui.passcode.PasscodeView" />
        <activity android:name=".ui.orders.OrderStatus" />
        <activity android:name=".ui.offers.AllOffersActivity" />
        <activity android:name=".ui.menu.CategoryResults" />
        <activity android:name=".ui.location.AddressEdit" />
        <activity android:name=".ui.orders.RecentOrders" />
        <activity android:name=".ui.location.HomeLocationChooser" />
        <activity android:name=".ui.menu.AllCategoryActivity" />
        <activity android:name=".ui.menu.AllItemsActivity" />
        <activity android:name=".ui.menu.TopSellingAll" />
        <activity android:name=".ui.dailyfood.DailyfoodActivity" />
        <activity android:name=".ui.AdminMain" />
    </application>

</manifest>