<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thundersharp.bombaydine">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BombayDine"
        tools:replace="android:theme,android:allowBackup">
        <activity
            android:name=".user.ui.tableBooking.TableBookingHistory"
            android:exported="true" />
        <activity
            android:name=".DeeplinkActivity"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bombaydine.thundersharp.in"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".user.ui.account.AddUpdateAddress" />
        <activity android:name=".user.ui.account.AddNumber" />
        <activity android:name=".user.ui.account.EditProfileDetails" />
        <activity android:name=".user.ui.location.LocationDetail" />
        <activity android:name="com.thundersharp.admin.ui.edits.CategoryAddEdit" />
        <activity android:name=".user.ui.orders.ConfirmPhoneName" />
        <activity android:name=".user.ui.offers.CustomOfferActivity" />
        <activity android:name=".user.ui.login.UserDetails" />
        <activity android:name=".user.ui.account.UpdateProfileActivity" />
        <activity android:name=".user.ui.wallets.WalletActivity" />
        <activity android:name=".user.ui.account.Bookmarks" />
        <activity android:name=".user.ui.account.Refunds" />
        <activity android:name=".user.ui.ratings.RatingsNReview" />
        <activity android:name=".user.ui.account.Payments" />
        <activity android:name=".user.ui.location.AddAddressActivity" />
        <activity android:name=".user.ui.account.HelpNFeedback" />
        <activity android:name=".user.ui.account.ReportSeriousIssue" />
        <activity
            android:name=".user.ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".user.ui.orders.OrderStatus"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Delevery.main.HomeDelevery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kitchen.main.HomeKitchen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.offers.AllOffersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.dailyfood.DailyfoodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.menu.TopSellingAll"
            android:screenOrientation="portrait" />
        <activity android:name=".user.ui.menu.AllCategoryActivity" />
        <activity android:name=".user.ui.menu.CategoryResults" />
        <activity android:name=".user.ui.location.HomeLocationChooser" />
        <activity android:name=".user.ui.location.AddressEdit" />
        <activity android:name=".user.ui.scanner.QrScanner" />
        <activity
            android:name=".user.ui.menu.AllItemsActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.orders.RecentOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.home.MainPage"
            android:configChanges="orientation|screenSize|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.login.EmailAccountCreate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.login.EmailLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.login.OtpVerificationActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.startup.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".user.core.OrderStatusUpdater"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>